{extend name="common/layout"}
{block name="main"}
<div class="menu w1200">

    <div class="menu-item clearfloat addr" style="font-size: 16px;">
        <span>地点:</span>
        <a href="#" class="active">全部</a>
        <ul>
            {volist name="addrList" id="addr"}
            <li class="{$addrId==$addr.id?'active':''}" data-index="{$addr.id}">{$addr.name}</li>
            {/volist}
        </ul>
    </div>

    <div class="menu-item job clearfloat" style="font-size: 16px;">
        <span>职位:</span>
        <a href="#" class="active">全部</a>
        <ul>
            {volist name="serverList" id="server"}
            <li class="{$jobId==$server.id?'active':''}" data-index="{$server.id}">{$server.name}</li>
            {/volist}
        </ul>
    </div>

    <div class="menu-item clearfloat sort" style="font-size: 16px;">
        <span>评价:</span>
        <a href="#" class="active">全部</a>
        <ul>
            <li data-index="5" class="{$sortId==5?'active':''}">五分</li>
            <li data-index="4" class="{$sortId==4?'active':''}">四分</li>
            <li data-index="3" class="{$sortId==3?'active':''}">三分</li>
            <li data-index="2" class="{$sortId==2?'active':''}">二分</li>
            <li data-index="1" class="{$sortId==1?'active':''}">一分</li>
        </ul>
    </div>
    <button id="search" class="btn" style="color: #ffffff;background: #0078c5;">搜索</button>
</div>

<div class="w1200 select">
    <h3>综合排序</h3>
</div>
<div class="select-list w1200 clearfloat">
    <ul>
        {volist name="emplList" id="emp"}
        <li>
            <a href="/index/employee/detail?id={$emp.id}">
                <img src="{$emp.img}" alt="">

                <p><span></span>{$emp.addrname}</p>
                <p>{$emp.name}</p>
                <p>{$emp.age}</p>
                <p>评分: {$emp.sort}分</p>
                <p>工作经验: {$emp.exper}年</p>
                <p>
                    <a data-index="{$emp.id}" class="emp" href="#"
                       style="width: 50px;height: 20px;line-height: 20px;text-align: center;background: #0078c5; color: #ffffff;padding: 2px 4px;border-radius: 2px;">预约</a>
                    <a href="/index/employee/detail?id={$emp.id}"
                       style="width: 50px;height: 20px;line-height: 20px;text-align: center;color: #ffffff; background:#8c8c8c;padding: 2px 4px;border-radius: 2px;">详情</a>
                </p>
            </a>
        </li>
        {/volist}
    </ul>

</div>
{/block}
{block name="footer"}
<script type="text/javascript">
    $('.addr li').on('click', function () {
        $(this).siblings().removeClass('active');
        $(this).addClass('active');
    });

    $('.addr  a').on('click', function () {
        $('.addr li').removeClass('active');
        return false;
    })

    $('.job li').on('click', function () {
        $(this).siblings().removeClass('active');
        $(this).addClass('active');
    });
    $('.job  a').on('click', function () {
        $('.job li').removeClass('active');
        return false;
    })


    $('.sort li').on('click', function () {
        $(this).siblings().removeClass('active');
        $(this).addClass('active');
    });

    $('.sort  a').on('click', function () {
        $('.sort li').removeClass('active');
        return false;
    })

    $('#search').on('click', function () {
        var addrId = 0;
        var activeSearch = $('.addr li.active');
        if (activeSearch.length > 0) {
            addrId = activeSearch.attr('data-index');
        }

        var jobId = 0;
        var activejob = $('.job li.active');
        if (activejob.length > 0) {
            jobId = activejob.attr('data-index');
        }

        var sortId = 0;
        var activeSort = $('.sort li.active');
        if (activeSort.length > 0) {
            sortId = activeSort.attr('data-index');
        }
//        alert("addrId: " + addrId + "; jobId: " + jobId + " | sortId: " + sortId);
        window.location.href = "/index/employee/listemployee?addrId=" + addrId + "&jobId=" + jobId + "&sortId=" + sortId;
    });


        $('.emp').on('click', function () {

            var id = $(this).attr('data-index');
            $.get('/index/order/addOrder', {
                id: id
            }, function (data) {

                if (data.code == 0) {
                    alert('预约成功');
                    window.location.reload();
                } else {
                    alert(data.msg);
                }
            }, 'json');
            return false;
        });




</script>
{/block}