{extend name="common/layout"}
{block name="main"}
<div class="banner">
    <img src="/public/static/images/banner.jpg" alt="">
</div>

<div class="title w1200">
    <h2>家政人员推荐</h2>
</div>


<!-- Swiper -->
<div class="swiper-container w1200" style="height: 446px">
    <div class="swiper-wrapper">
        {volist name="userList" id="user"}
        <a href="index/employee/detail?id={$user.id}" class="swiper-slide" style="text-align: center;display: block">

            <img src="{$user.img}" alt="" style="height: 220px;margin-bottom: 10px">
            <p><h4 style="line-height: 24px;">{$user.name}</h4><span></span><span style="line-height: 24px;">{$user.addrname}</span></p>
            <p style="line-height: 24px;">评分: {$user.sort}分</p>
            <p style="line-height: 24px;">工作经验: {$user.exper}年</p>
        </a>
        {/volist}
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
</div>


<div class="title w1200">
    <h2>新闻资讯</h2>
</div>

<div class="w1200 news">
    <ul>
        {volist name="newsList" id="news"}
        <li>
            <a href="/index/news/detail?id={$news.id}">
                <img src="/public/uploads/{$news.img}" alt="">
                <h4>{$news.title}</h4>
                <p> {$news.msg}</p>
                <a href="/index/news/index">更多>></a>
            </a>
        </li>
        {/volist}

        <!--<li>-->
        <!--<a href="#">-->
        <!--<img src="/public/static/images/news-item.jpg" alt="">-->
        <!--<h4>如何选择正规防盗门厂家？</h4>-->
        <!--<p> 谈及现如今的门业市场，有的门店是门可罗雀，有的门店却是门庭若市。所以顾客盈门的最大门道，还得看你是否选对了厂...</p>-->
        <!--<a href="#">更多>></a>-->
        <!--</a>-->
        <!--</li>-->
        <!--<li>-->
        <!--<a href="#">-->
        <!--<img src="/public/static/images/news-item.jpg" alt="">-->
        <!--<h4>如何选择正规防盗门厂家？</h4>-->
        <!--<p> 谈及现如今的门业市场，有的门店是门可罗雀，有的门店却是门庭若市。所以顾客盈门的最大门道，还得看你是否选对了厂...</p>-->
        <!--<a href="#">更多>></a>-->
        <!--</a>-->
        <!--</li>-->
    </ul>
</div>
{/block}
{block name="footer"}
<script type="text/javascript">
    $('.addr li').on('click', function () {
        $(this).siblings().removeClass('active');
        $(this).addClass('active');
    });

    $('.addr  a').on('click', function () {
        $('.addr li').removeClass('active');
        return false;
    })

    $('.job li').on('click', function () {
        $(this).siblings().removeClass('active');
        $(this).addClass('active');
    });
    $('.job  a').on('click', function () {
        $('.job li').removeClass('active');
        return false;
    })


    $('.sort li').on('click', function () {
        $(this).siblings().removeClass('active');
        $(this).addClass('active');
    });

    $('.sort  a').on('click', function () {
        $('.sort li').removeClass('active');
        return false;
    })

    $('#search').on('click', function () {
        var addrId = 0;
        var activeSearch = $('.addr li.active');
        if (activeSearch.length > 0) {
            addrId = activeSearch.attr('data-index');
        }

        var jobId = 0;
        var activejob = $('.job li.active');
        if (activejob.length > 0) {
            jobId = activejob.attr('data-index');
        }

        var sortId = 0;
        var activeSort = $('.sort li.active');
        if (activeSort.length > 0) {
            sortId = activeSort.attr('data-index');
        }
//        alert("addrId: " + addrId + "; jobId: " + jobId + " | sortId: " + sortId);
        window.location.href = "/index/employee/listemployee?addrId=" + addrId + "&jobId=" + jobId + "&sortId=" + sortId;
    });


    var swiper = new Swiper('.swiper-container', {
        effect: 'coverflow',
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: 'auto',
        coverflowEffect: {
            rotate: 50,
            stretch: 0,
            depth: 100,
            modifier: 1,
            slideShadows: true,
        },
        pagination: {
            el: '.swiper-pagination',
        },
        autoplay: {
            delay: 2500,
            disableOnInteraction: false,
        },
    });


</script>
{/block}