{extend name="common/layout"}
{block name="main"}
<div class='index'>
    <ol class="breadcrumb">
        <li><span class="glyphicon glyphicon-home"></span> 员工列表</li>
    </ol>

    <table class="table table-responsive" style="padding:0  20px;">
        <tr>
            <th>id</th>
            <th>名称</th>
            <th>密码</th>
            <th>邮箱</th>
            <th>手机号</th>
            <!--<th>身份证号</th>-->
            <th>经验</th>
            <th>职位类型</th>
            <th>详细信息</th>
            <th>头像</th>

            <th>审核状态</th>
            <th>审核操作</th>
            <th>评分</th>
            <th>地址</th>
            <th>操作</th>
        </tr>

        {volist name="empList" id="user"}
        <tr id="tr{$user.id}">
            <td>{$user.id}</td>
            <td>{$user.name}</td>
            <td>{$user.password}</td>
            <td>{$user.email}</td>
            <td>{$user.tel}</td>
            <!--<td>{$user.cardid}</td>-->
            <td>{$user.exper}</td>
            <td>{$user.serviceName}</td>
            <td>{$user.info}</td>

            <td><img src="{$user.img}" alt="" style="width: 40px;height: 40px;"></td>

            <td>
                {if condition="$user.state==0"}
                待审核
                {elseif condition="$user.state==1"}
                未通过
                {else /}
                通过
                {/if}


            </td>
            <td><span class="glyphicon glyphicon-ok checkYes" data-id="{$user.id}"></span><span
                    class="glyphicon glyphicon-remove checkNo" data-id="{$user.id}"></span></td>
            <td>{$user.sort}</td>
            <td>{$user.addrName}</td>

            <td><a class="btn btn-danger  btn-sm deleteBtn" data-id="{$user.id}">删除</a></td>
        </tr>
        {/volist}
    </table>

</div>
{/block}
{block name="script"}
<script>


    /*
    * 双击修改内容
    * */

    function edit(element) {
        var oldhtml = element.innerHTML;//获得元素之前的内容
        var newobj = document.createElement('input');//创建一个input元素
        newobj.type = 'text';//为newobj元素添加类型
        newobj.value = oldhtml;
        element.innerHTML = '';　　 //设置元素内容为空
        element.appendChild(newobj);//添加子元素
        newobj.focus();//获得焦点
        //设置newobj失去焦点的事件
        newobj.onblur = function () {
            //下面应该判断是否做了修改并使用ajax代码请求服务端将id与修改后的数据提交

            //当触发时判断newobj的值是否为空，为空则不修改，并返回oldhtml
            element.innerHTML = this.value ? this.value : oldhtml;

            //进行ajax请求 更新数据
            if (this.value != oldhtml) {
                $.post('/admin/empList/update', {
                    'id': element.getAttribute('data-id'),
                    'key': element.id,
                    'val': this.value,
                }, function (data) {
                    if (data['code'] == 0) {
                        //成功
                        element.innerHTML = data['res'];
                        alert('数据更新成功');
                    } else {
                        //更新失败
                        element.innerHTML = oldhtml;
                        alert('更新失败');
                    }
                }, 'json');

            }
        }
    }


    $('.checkYes').on('click', function () {
//        审核通过
        var id = $(this).attr('data-id');


        $.get('/admin/Emplist/checkYes', {
            id: id,
        }, function (data) {
            if (data.code == 0) {
                alert('操作成功');
                window.location.reload();
            } else {
                alert('操作失败');
            }
        });

    });


    $('.checkNo').on('click', function () {
//        审核通过

        var id = $(this).attr('data-id');
        $.get('/admin/Emplist/checkNo', {
            id: id
        }, function (data) {
            if (data.code == 0) {
                alert('操作成功');
                window.location.reload();
            } else {
                alert('操作失败');
            }
        });

    });
</script>
{/block}
