{extend name="common/layout"}
{block name="main"}
<div class="w1200 new-detail">
    <h2>{$news.title}</h2>
    <span style="margin-left: 380px;">发布时间： </span>
    <span>{$news.time}</span>
    <span style="margin-left: 150px">浏览： </span>
    <span>{$news.click}次 </span>
    <p>{$news.msg}</p>

    <div class="toggle">
        {if condition="$hasPre==1"}
        <a href="/index/news/next?pre={$news.id}" style="float: left"><<上一篇</a>
        {/if}

        {if condition="$hasNext==1"}
        <a href="/index/news/next?next={$news.id}" style="float: right">下一篇>></a>
        {/if}
    </div>
</div>
{/block}
{block name="footer"}
{/block}

