{extend name="common/layout"}
{block name="main"}
<ul class="newsList w1200">
    {volist name="newsList" id="news"}
    <li>
        <a href="/index/news/detail?id={$news.id}" class="clearfloat">
            <div class="time-left">
                <p style="font-size: 48px;margin-top: 30px !important;">{$news.day}</p>
                <p style="font-size: 24px">{$news.yearMonth}</p>
            </div>
            <div class="detail-right">
                <h5 style="margin-top: 20px !important;">{$news.title}</h5>
                <p class="news-msg"> {$news.msg}</p>
                <img src="/public/static/images/more.png" alt="">
            </div>
        </a>
    </li>
    {/volist}
</ul>
<div class="w1200">
    {$newsList->render()}
</div>
{/block}
{block name="footer"}
<script type="text/javascript">
    var newsMsg = $('.news-msg').html();
    newsMsg = newsMsg.substring(0, 60);
    $('.news-msg').html(newsMsg);

</script>
{/block}