{extend name="common/layout"}
{block name="main"}
<div class='index'>
    <ol class="breadcrumb">
        <li><span class="glyphicon glyphicon-home"></span> 用户列表</li>
    </ol>

    <table class="table table-responsive" style="padding:0  20px;">
        <tr>
            <th>id</th>
            <th>员工姓名</th>
            <th>用户姓名</th>
            <th>创建时间</th>
            <th>状态</th>
        </tr>

        {volist name="orderList" id="order"}
        <tr id="tr{$order.id}">
            <td>{$order.id}</td>
            <td>{$order.yunName}</a></td>
            <td>{$order.userName}</td>
            <td>{$order.create_time}</td>

            <td>{$order.state}</td>
        </tr>
        {/volist}
    </table>

</div>
{/block}
{block name="script"}
<script>
    $(document).ready(function () {
        $('.index').slideToggle("slow");
    });
</script>
{/block}